.card {
  margin: 12px;
  .card__image {
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
    padding: 12px;
    cursor: pointer;
    background-position: 50%;
    transition: background-size ease 0.3s;
    background-size: 100%;
    &:hover {
      background-size: 110%;
    }
    .card__platform {
      color: white;
      background: rgb(0 0 0 / 58%);
      padding: 2px 12px;
      border: 1px solid white;
      font-size: 10px;
    }
  }
  .card__title {
    margin: 12px 0 6px;
  }
  .card__pricing {
    color: #42a85f;
    font-family: "SST-Medium";
  }
}
