.header {
  display: flex;
  align-items: center;
  gap: 10%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12);
  padding: 16px;
  position: fixed;
  width: 100%;
  background: white;
  .header__logo {
    img {
      height: 32px;
    }
  }
  @media screen and (max-width: 478px) {
    .header__menu {
      display: none;
    }
  }
}
