<div class="banner">
  <div class="banner__image">
    <div class="banner__image__over">
      <img src="../../../assets/images/banner-over.jpg" alt="" />
    </div>
  </div>
  <div class="banner__text">
    <div class="title__subtitle">
      <h2 class="banner__text__title">Ofertas de fim de ano</h2>
      <p class="banner__text__subtitle">
        Termine o ano poupando em uma gama de jogos incríveis
      </p>
    </div>
    <div class="banner__button">
      <button class="banner__button__primary">Economize Já</button>
    </div>
  </div>
</div>
